# Team Project 3
## Hannah Garrett & Leighann Robinson
### DS160 SP 23

## Import the libraries

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

## Import the dataset

In [2]:
dataset=pd.read_csv('Housing.csv')

## View the datatset

In [3]:
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

##### There are no null values to impute for this dataset.

### Splitting the dataset into independent and dependent variables

In [5]:
dataset.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [6]:
X=dataset[['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus']]
y=dataset[['price']]

### Handling categorical data

In [7]:
X=pd.get_dummies(dataset[['area',
                          'bedrooms',
                          'bathrooms',
                          'stories',
                          'mainroad',
                          'guestroom',
                          'basement',
                          'hotwaterheating',
                          'airconditioning',
                          'parking',
                          'prefarea',
                          'furnishingstatus']],
                drop_first=True)

In [8]:
X.sample(10)

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
131,5828,4,1,4,0,1,1,0,0,0,0,1,0
58,7680,4,2,4,1,1,1,0,0,1,0,1,0
70,4000,3,2,2,0,1,0,1,0,1,1,1,0
293,4410,2,1,1,1,0,0,0,0,0,0,0,1
34,6840,5,1,2,1,1,1,1,0,1,0,0,0
69,12090,4,2,2,2,1,0,0,0,0,1,0,0
15,6000,4,1,2,2,1,0,1,0,0,0,1,0
277,10360,2,1,1,1,1,0,0,0,0,1,1,0
383,4500,4,2,2,2,1,0,1,0,0,0,0,0
148,6360,3,1,3,0,1,0,0,0,0,1,1,0

#### Encoding key

##### -  mainroad_yes = 1 , mainroad_no = 0 (dropped)
##### - guestroom_yes = 1 ,  guestroom_no = 0 (dropped)
##### - basement_yes = 1 , basement_no = 0 (dropped)
##### - hotwaterheating_yes = 1 , hotwaterheating_no = 0 (dropped)
##### - airconditioning_yes = 1 , airconditioning_no = 0 (dropped) 
##### - prefarea_yes = 1 , prefarea_no = 0 (dropped)
##### - furnishingstatus_semi-furnished = 10 , furnishingstatus_unfurnished = 01 , furnishingstatus_furnished = 00 (dropped)

### Splitting dataset into training and test sets

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_rest,y_train,y_rest=train_test_split(X,y,
                                              test_size=.2,
                                              random_state=42)

In [10]:
X_test, X_val, y_test, y_val=train_test_split(X_rest,y_rest,
                                             test_size=.5,
                                             random_state=42)
#test size is help to get the percentage of validate data

### Training MLR model on training set

In [11]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train.values, y_train)

LinearRegression()

### Finding intercept & coefficients

In [12]:
print("Coefficients: ", regressor.coef_)
print("Intercept: ", regressor.intercept_)

Coefficients:  [[ 2.35968805e+02  7.67787016e+04  1.09444479e+06  4.07476595e+05
   2.24841913e+05  3.67919948e+05  2.31610037e+05  3.90251176e+05
   6.84649885e+05  7.91426736e+05  6.29890565e+05 -1.26881818e+05
  -4.13645062e+05]]
Intercept:  [260032.35760741]

#### Equation

In [13]:
X_train.columns

Index(['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'mainroad_yes',
       'guestroom_yes', 'basement_yes', 'hotwaterheating_yes',
       'airconditioning_yes', 'prefarea_yes',
       'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished'],
      dtype='object')

##### Price = -68421.4728 + area(*2.4286x10^2) + bedrooms(*1.5268x10^5) + bathrooms(*9.8146x10^5) + stories(*4.1530x10^5) + parking(*3.1737x10^5) + mainroad_yes(*4.0572x10^5) + guestroom_yes(*4.1072x10^5) + basement_yes(*3.2933x10^5) + hotwaterheating_yes(*4.309x10^5) + airconditioning_yes(*8.1973x10^5) + prefarea_yes(*6.7572x10^5) + furnishingstatus_semi-furnished(*2.7097x010^4) - furnishingstatus_unfurnished(*3.3389x10^5)

### Predicting the Test Set Results

In [15]:
y_pred=regressor.predict(X_test.values)

### RMSE and R Square

In [16]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f"R Square: {r2_score(y_test,y_pred):.2f}")
print(f"MSE: {mean_squared_error(y_test,y_pred):.2f}")
print(f"RMSE: {math.sqrt(mean_squared_error(y_test,y_pred)):.2f}")

R Square: 0.63
MSE: 1703522025573.84
RMSE: 1305190.42

## Validation case scenarios:

In [17]:
X_test.head()

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
2,9960,3,2,2,2,1,0,1,0,0,1,1,0
516,3240,2,1,1,1,0,1,0,0,0,0,0,1
18,4600,3,2,2,2,1,1,0,0,1,0,0,0
540,3000,2,1,1,2,1,0,1,0,0,0,0,1
424,3100,3,1,2,0,0,0,1,0,0,0,1,0

#### Case 1: How much would someone have to pay for housing for a single story unfurnished unit with no guestroom or basement, an area of 7500, 3 bedrooms, 2 bathrooms, no parking, on a mainroad, with hot water heating and air conditioning included in a preferred area?

In [19]:
regressor.predict([[7500,3,2,1,0,1,0,0,1,1,1,0,1]])

array([[6916742.73570381]])

##### They would have to pay approximately 6,919,743 dollars for housing.

#### Case 2: How much would someone have to pay for housing for a 3 story, furnished unit, with an area of 14500, both guestroom and basement included, 4 bedrooms, 2 bathrooms, parking for 2 included, not on a mainroad, with hot water heating, no air conditioning included, not in a preferred area?

In [21]:
regressor.predict([[14500,4,2,3,2,0,1,1,1,0,0,0,0]])

array([[9156209.11239988]])